* {
    margin: 0;
}

body {
    background-color: rgb(226, 226, 217);
}

/*************** BANDEAU ***************/
.bandeau {
    background-color: rgb(174, 169, 143);
    text-align: center;
    height: 5em;
    padding: 0.5em 0 1.3em 0;
}

.bandeau .titre {
    text-align: center;
}


/**************** NAV ****************/
nav {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 2.5em;
    background-color: rgb(104, 103, 103);
    padding-top: 1em;
}

nav .accueil {
    text-align: center;
    font-size: 1.3em;
    padding-top: 0.1em;
}

.accueil a {
    text-decoration: none;
    color: white;
    text-shadow: 10px 8px 5px rgb(51, 51, 51);
}

.accueil a:hover {
    font-weight: bold;
    background-color: rgb(63, 74, 68);
}

nav .form {
    text-align: right;
    padding-right: 5em;
    display: inline;
}

nav .form label,
nav .form input,
nav .form button {
    font-size: 1.1em;
    box-shadow: 10px 8px 5px rgb(78, 78, 78);
    border-radius: 5px;
}

nav .form button {
    background-color: rgb(174, 173, 171);
}

#btLogout {
    font-size: 1.05em;
    background-color: rgb(174, 173, 171);
}
nav .form button:hover,
#btLogout:hover,
#submitPanier:hover {
     background-color: rgb(63, 74, 68);
}

/********** AFFICHAGE PRODUITS **********/
main .titreProduits h1 {
    text-align: center;
    padding-top: 0.7em;
}

main .titreProduits p {
    text-align: center;
    font-size: 1.1em;
    padding-bottom: 1em;
}

main table {
    border-collapse: collapse;
    width: 70%;
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    font-size: 1.1em;
    padding-bottom: 5%;
}

main .tabProduits th,
main .tabProduits td {
    padding: 0.5em 2.1em;
    border: solid 1px black;
}

main .tabProduits th {
    background-color: rgb(207, 206, 206);
}


/********** BOUTON VOIR PANIER **********/
.voir {
    text-align: right;
    padding: 0 8% 2% 0;
}

.voir #submitPanier {
    font-size: 1.05em;
    background-color: rgb(154, 177, 141);
    border-radius: 5px;
    box-shadow: 10px 8px 5px rgb(78, 78, 78);
    padding: 0.3%;
}

.voir #submitPanier:hover {
    background-color: rgb(63, 74, 68);
}